# Visual Studio
.vs/

# Build output
x64/
Debug/
Release/

# Visual Studio user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# C/C++ build files
*.obj
*.pdb
*.ilk
*.idb
*.tlog
*.log

# Executables
*.exe